Repository hmcts/div-case-maintenance-service, pull requests merged in 2018-11, with the labels that each got.

#38 State mapping change
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
Labels: ns:div-cms-pr-38

#39 Fix draft encryption key
  Jenkinsfile_CNP
  infrastructure/main.tf
  src/kubernetes/config.aat.yaml
Labels: ns:div-cms-pr-39

#42 Fix healthcheck url
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdUpdateTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/CaseFormatterServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/DraftStoreHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/IdamApiHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/ServiceAuthProviderHealthCheck.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/HealthCheckITest.java
Labels: ns:div-cms-pr-42

#43 Add AwaitingLegalAdvisor state to the Petitioner retrieve case list
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
Labels: ns:div-cms-pr-43
