Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-02, with the labels that each got.

#82 Update Dockerfile
  Dockerfile
Labels: ns:div-cms-pr-82

#73 Retrieve case by id regardless of role
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AuthIdamMockSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CreateDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/DeleteDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAllDraftsServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionByCaseIdITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SaveDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImplUTest.java
Labels: ns:div-cms-pr-73

#85 set up divorce cos security scan
  Jenkinsfile_nightly
  security.sh
Labels: ns:div-cms-pr-85

#78 DIV-3742 amend petition
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/AmendPetitionDraftTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdUpdateSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/PetitionSupport.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/ccd-submission-payload/completed-case-submitted.json
  src/integrationTest/resources/divorce-format-draft/addresses.json
  src/integrationTest/resources/divorce-format-draft/jurisdiction-6-12.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/AmendCaseRemovedProps.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CmsConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/DivorceSessionProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/PetitionService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAOSPostCompletedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-78

#84 DIV-4252: Fixing production error
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveAosCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/PetitionService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-84

#90 DIV-4303 - added new desertion fields to AmendCaseRemovedProps
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/AmendCaseRemovedProps.java
Labels: ns:div-cms-pr-90

#87 Refactor RetrievePetition for AmendPetition Scenarios. Removed return…
  build.gradle
  ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseTest.java
  src/integrationTest/resources/ccd-update-payload/basic-update.json
  src/integrationTest/resources/divorce-format-draft/amend-draft.json
  src/integrationTest/resources/divorce-format-draft/existing-draft.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateGrouping.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAOSPostCompletedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-87

#89 DIV-3952 Co-Respondent Linking
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/resources/ccd-submission-payload/linked-case.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/LinkRespondentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
Labels: ns:div-cms-pr-89
