Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-07, with the labels that each got.

#151 Added DNPronounced State to Mapping
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
Labels: ns:div-cms-pr-151

#147 DIV-3264: Update readme
  README.md
Labels: ns:div-cms-pr-147

#153 Update jackson and tomcat to fix CVEs
  build.gradle
Labels: ns:div-cms-pr-153

#155 Aos Awaiting Sol state should be returned when retrived a case
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
Labels: ns:div-cms-pr-155

#154 Use string values for boolean swagger documentation enabled and enable parallel functional test
  README.md
  build.gradle
  charts/div-cms/values.aat.template.yaml
  charts/div-cms/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:div-cms-pr-154

#156 change domain
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
Labels: ns:div-cms-pr-156
