Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-09, with the labels that each got.

#173 Fix vulnerabilities
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdAccessITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CreateDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/DeleteDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/GetCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAOSPostCompletedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAllDraftsServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionByCaseIdITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SaveDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SearchCasesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/UnlinkUserITest.java
Labels: ns:div-cms-pr-173

#165 DIV-5613 Added missing state DNDrafted for AoS retrieval
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveAosCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-165

#160 DIV-4431 Add DnIsRefused state
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
Labels: ns:div-cms-pr-160

#176 [PREVIEW] Point to CNP Module Webapp And Removed Sad Path Integration Tests
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdBulkCaseSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/AmendPetitionDraftTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdGetCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftGetAllTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftSaveTest.java
Labels: ns:div-cms-pr-176

#177 Use existing caseworker and solicitor users instead of creating a new…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
Labels: ns:div-cms-pr-177

#179 DIV-5762 - use java chart v2.6.0 and reduced duplicated env references
  charts/div-cms/Chart.yaml
  charts/div-cms/requirements.yaml
  charts/div-cms/values.aat.template.yaml
  charts/div-cms/values.preview.template.yaml
  charts/div-cms/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:div-cms-pr-179

#166 DIV-4664 & DIV-3877 - Amend data fields for checking respondent solicitor
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
Labels: ns:div-cms-pr-166

#183 DIV-5762 - added disableLegacyDeployment() to switch deployment to AKS
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
Labels: ns:div-cms-pr-183

#184 Fix master build by renaming unit tests & adding 2 new tests to cover other scenarios
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImplUTest.java
Labels: ns:div-cms-pr-184
