Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-08, with the labels that each got.

#141 DIV-4559: Change all reference from DNAwaiting to AwaitingDecreeNisi
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
Labels: ns:div-cms-pr-141

#157 Add retry mechanism for IDAM user creation in the Integration Tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
Labels: ns:div-cms-pr-157

#162 DIV-5373: Add state for DaRequested
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
Labels: ns:div-cms-pr-162

#164 DIV-5582: Replace idam api client with common lib
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdBulkCaseSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/idam/utils/IdamUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/IdamApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/AuthenticateUserResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/TokenExchangeResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/UserService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/BaseCcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdSubmissionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/DraftServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/UserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/util/AuthUtil.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/MockSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdSubmissionServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/DraftServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/UserServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/util/AuthUtilUTest.java
Labels: ns:div-cms-pr-164

#150 DIV-4945 - Assign solicitor specific roles (petitioner/respondent)
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdCaseRolesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftGetAllTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/DraftSaveTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/client/CcdClientSupport.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/ccd-format-draft/base-case.json
  src/integrationTest/resources/ccd-solicitor-payload/base-case.json
  src/integrationTest/resources/ccd-solicitor-payload/submit-pay-data.json
  src/integrationTest/resources/ccd-submission-payload/base-case.json
  src/integrationTest/resources/divorce-format-draft/base-case-divorce-session.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CmsConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/CcdAccessService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdAccessITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/MockSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/UnlinkUserITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
  src/test/resources/ccd-submission-payload/base-case.json
Labels: ns:div-cms-pr-150

#169 DIV-5518 enable AKS staging deployment
  Jenkinsfile_CNP
  charts/div-cms/values.aat.template.yaml
  charts/div-cms/values.preview.template.yaml
Labels: ns:div-cms-pr-169
