Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-03, with the labels that each got.

#80 Updated some dependencies, and supressions
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:div-cms-pr-80

#95 DIV-4116 increase right margin length
  checkstyle.xml
Labels: ns:div-cms-pr-95

#94 DIV-4360 Grant user permission if has valid credentials
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
Labels: ns:div-cms-pr-94

#96 DIV-4398 - Remove documents from original case before copying case data into draft
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/AmendCaseRemovedProps.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-96

#100 DIV-4434 Added AosCompleted state
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
Labels: ns:div-cms-pr-100

#98 DIV-4352 Claim Costs amend draft removal
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/AmendCaseRemovedProps.java
Labels: ns:div-cms-pr-98

#99 Added root controller with test
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/RootController.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/RootControllerTest.java
Labels: ns:div-cms-pr-99

#104 Update CCD client version
  build.gradle
Labels: ns:div-cms-pr-104

#103 DIV-4437 Linking respondents no longer check AoS Received
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/resources/ccd-submission-payload/linked-case.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/support/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/exception/BaseException.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/exception/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/exception/DuplicateCaseException.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/exception/InvalidRequestException.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/support/GlobalExceptionHandlerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/LinkRespondentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
Labels: ns:div-cms-pr-103

#101 DIV-4468 - remove the checkCcd flag
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdGetCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/PetitionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/RestUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/PetitionService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAOSPostCompletedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-101

#97 Setup SAAT SIDAM and Cleanup Tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/saat.tfvars
  infrastructure/state.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/idam/utils/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/idam/utils/StrategicIdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/idam/utils/TacticalIdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/RegisterUserRequest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/client/CcdClientSupport.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/IdamApiClient.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AuthIdamMockSupport.java
Labels: ns:div-cms-pr-97

#109 DIV-4531: Copying issue date when amending a case
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/DivorceSessionProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-109

#111 DIV-4531: Suppressing security issues
  dependency-check-suppressions.xml
Labels: ns:div-cms-pr-111
