Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-10, with the labels that each got.

#185 DIV-5836 Ensure correct email field is checked during linking process
  Dockerfile
  build.gradle
  charts/div-cms/Chart.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdAccessITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/MockSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImplUTest.java
Labels: ns:div-cms-pr-185

#178 cleanup of ase after aks migration
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:div-cms-pr-178

#194 Apply security fix Fix-CVE-2019-16942 Jackson
  build.gradle
Labels: ns:div-cms-pr-194

#196 Create Draft For Refusal Rejection
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/AmendPetitionForRefusalDraftTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/PetitionSupport.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/AmendCaseRemovedProps.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/PetitionService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionForRefusalDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-196

#197 DIV-5834: Remove code smell from CMS & add Test Constants file
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/idam/utils/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamTestSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/FormatterServiceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CmsConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/PetitionControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/draftstore/factory/DraftModelFactoryUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/event/ccd/submission/CaseSubmissionNotificationHandlerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionForRefusalDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdAccessITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CreateDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/DeleteDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/GetCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/MockSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAOSPostCompletedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAllDraftsServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionByCaseIdITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SaveDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SearchCasesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/UnlinkUserITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdSubmissionServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/DraftServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/UserServiceImplUTest.java
Labels: ns:div-cms-pr-197

#199 Add previous reasons for divorce mapping to refusal rejection
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/DivorceSessionProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionForRefusalDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImplUTest.java
Labels: ns:div-cms-pr-199

#213 Bump Health starter
  build.gradle
Labels: ns:div-cms-pr-213

#214 Update Gradle dependencies
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:div-cms-pr-214
