Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-05, with the labels that each got.

#126 DIV-4695 Exposed search API
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CCDSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/PetitionSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/CcdRetrievalService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SearchCasesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
Labels: ns:div-cms-pr-126

#127 Added required missing case ref to amend petition tests
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdUpdateSupport.java
  src/integrationTest/resources/ccd-update-payload/basic-update.json
Labels: ns:div-cms-pr-127

#131 DIV-4840 improve refactor link resp
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
Labels: ns:div-cms-pr-131

#122 Point to SIDAM
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
Labels: ns:div-cms-pr-122

#133 DIV-4871 Prevent petitioner linking to case as respondent
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CcdCaseProperties.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/LinkRespondentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/LinkRespondentServiceImplUTest.java
Labels: ns:div-cms-pr-133

#128 Div 4626 create bulk list
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdBulkCaseSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CCDSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/ccd-submission-payload/bulk-case.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/support/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/CcdSubmissionService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/BaseCcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdSubmissionServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseSubmissionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdSubmissionServiceImplUTest.java
  src/test/resources/CCD_Divorce_Test.xlsx
Labels: ns:div-cms-pr-128

#135 DIV-3797: Removing Travis CI from our GitHub checks
  .travis.yml
Labels: ns:div-cms-pr-135

#136 Bulk Case Update Endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdBulkCaseUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdUpdateSupport.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/ccd-update-payload/bulk-case.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdController.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/CcdUpdateService.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/BulkCaseUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdUpdateServiceImplUTest.java
Labels: ns:div-cms-pr-136

#138 Override Spring's management endpoint cache to 30 seconds in AAT/Preview
  charts/div-cms/values.aat.template.yaml
  charts/div-cms/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:div-cms-pr-138

#140 Fixed invalid tf attribute - value -> default
  infrastructure/variables.tf
Labels: ns:div-cms-pr-140

#142 Fix test bulk case hearing date
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdBulkCaseUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdUpdateSupport.java
Labels: ns:div-cms-pr-142
