Repository hmcts/div-case-maintenance-service, pull requests merged in 2019-11, with the labels that each got.

#217 Upgrading AI agent
  Dockerfile
  build.gradle
Labels: ns:div-cms-pr-217

#215 DIV-4239: Removing courts information
  src/integrationTest/resources/divorce-format-draft/base-case-divorce-session.json
  src/integrationTest/resources/divorce-format-draft/jurisdiction-6-12.json
Labels: ns:div-cms-pr-215

#232 isEmpty function added to handle empty string values on solicitor details
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImplUTest.java
Labels: ns:div-cms-pr-232
