Repository hmcts/div-case-maintenance-service, pull requests merged in 2020-12, with the labels that each got.

#377 DIV-6608: allowing petitioner to fetch case in specified states
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-377

#380 DIV-6678: Fix dependency check failure div-case-maintenance-service
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cms-pr-380

#382 DIV-6653: Allow respondent to query cases from given new states
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-382

#383 DIV-6696: Fixing dependency issues
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cms-pr-383

#387 DIV-6654: Map general referral states on Petitioner and Respondent apps
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseStateTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-387
