Repository hmcts/div-case-maintenance-service, pull requests merged in 2020-09, with the labels that each got.

#342 RPET-436: bump ccdStoreClient to 4.7.3
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cms-pr-342

#352 DIV-6531: Enable respondent to query cases in ServiceApplicationNotApproved
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-352

#325 RPET-263 Upgrade java 11
  Dockerfile
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  lombok.config
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/CcdRetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionForRefusalDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CreateDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/MockSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAllDraftsServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/SaveDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/management/monitoring/health/HealthCheckITest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-325
