Repository hmcts/div-case-maintenance-service, pull requests merged in 2021-03, with the labels that each got.

#418 DIV-6781: Returning cases that are in AosDrafted to PFE
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-418

#424 Update Tomcat due to CVE
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cms-pr-424

#426 updated dependencies
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cms-pr-426

#427 removing cves
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cms-pr-427

#429 Div 5457 Add ISSUED_TO_BAILIFF state for petitioner
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-429

#430 DIV-5457:Add AwaitingBailiffService
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-430

#431 Fix CMS logs not showing up
  charts/div-cms/Chart.yaml
  charts/div-cms/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:divorce, prd:div, rel:div-cms-pr-431

#375 TA-161-Consumer Pact for Div-CMS interaction with CoreCaseDataApi
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/ReadForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/ReadForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/SearchCasesConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/SearchForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/StartEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/StartEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/StartForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/StartForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/SubmitEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/SubmitEventForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/SubmitForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/ccd/SubmitForCitizenConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/util/AssertionHelper.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/util/CcdConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/util/ObjectMapperTestUtil.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/util/PactDslBuilderForCaseDetailsList.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/util/PactDslFixtureHelper.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/client/util/ResourceLoader.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/application.yml
  src/contractTest/resources/json/base-case.json
  src/contractTest/resources/json/case-details-list.json
  src/contractTest/resources/json/ccdCaseDetails.json
  src/contractTest/resources/json/divorce-map.json
  src/contractTest/resources/json/divorce-submit.json
  src/contractTest/resources/json/esQuery.json
  src/contractTest/resources/json/sample.json
  src/contractTest/resources/json/success.pa.ccd.json
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdController.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-375

#437 add logs for amend case
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/PetitionServiceImpl.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-437

#442 DIV-6228: Citizen Respondent submit AOS response whilst bailiff application in progress
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMap.java
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseState.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/controller/CcdControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/domain/model/CaseRetrievalStateMapTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-442
