Repository hmcts/div-case-maintenance-service, pull requests merged in 2022-08, with the labels that each got.

#607 DFR-1086 Update Readme
  README.md
Labels: ns:divorce, prd:div, rel:div-cms-pr-607

#606 DFR-1022
  charts/div-cms/Chart.yaml
  charts/div-cms/values.yaml
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/PetitionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/client/CcdClientSupport.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionForRefusalDraftFromCaseIdServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/AmendedPetitionForRefusalDraftServiceITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/CcdAccessITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/GetCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAOSPostCompletedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionByCaseIdITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/functionaltest/RetrievePetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdRetrievalServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-606

#611 Fix nightly pipeline
  Jenkinsfile_nightly
  audit.json
  src/contractTest/resources/application.properties
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdUpdateSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/PetitionSupport.java
  src/integrationTest/resources/application.properties
Labels: ns:divorce, prd:div, rel:div-cms-pr-611

#614 Add backstage configuration file
  catalog-info.yaml
Labels: ns:divorce, prd:div, rel:div-cms-pr-614

#615 comment out failing tests due to citizen create event authorisations
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdSubmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/AmendPetitionDraftTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/AmendPetitionForRefusalDraftFromCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/petition/AmendPetitionForRefusalDraftTest.java
Labels: ns:divorce, prd:div, rel:div-cms-pr-615
